body {
  font-family: 'Raleway', sans-serif;
  background-color: #202020;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #FFFFFF;
}

/* NAVIGATION */

nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  background-color: #282828;
  box-sizing: border-box;
}

nav h1 {
  padding: 8px 16px;
  margin: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-self: stretch;
}

nav li {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: currentColor;
  text-decoration: none;
}

nav .button {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: 0;
  padding: 8px 16px;
}

nav .button:active {
  color: #CCCCCC;
}

.nav-link.active {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #FFFFFF;
}

.divider {
  margin: 0 auto;
}

/* DROPDOWNS */

.dropdown {
  position: relative;
}

.dropdown-menu {
  font-size: 0.9em;
  display: none;
  background-color: #FFFFFF;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  width: 144px;
  color: #444444;
  z-index: 100;
  padding: 8px 0;
  border-radius: 3px;
}

.dropdown-menu::before {
  content: " ";
  width: 0;
  height: 0;
  left: 64px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  position: absolute;
  top: -8px;
  z-index: 1000;
}

.dropdown-button:focus + .dropdown-menu {
  display: flex;
}

.dropdown-button:focus {
  pointer-events: none;
}

.dropdown-menu:hover {
  display: flex;
}

.dropdown-menu a {
  padding: 8px 16px;
}

.dropdown-menu a:hover {
  background-color: rgba(0,0,0,0.1);
}

/* DATE INPUT */

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #333333;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #000000;
    font: inherit;
    border: 1px solid #FFFFFF;
    background: #FFFFFF;
    padding: 4px;
}

/* SORRY KEYBOARD USERS, BUT IT'S JUST SO UGLY */

input:focus,
button:focus,
select:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* TOAST */

.toast {
  margin: 0;
  padding: 16px;
  border-radius: 3px;
  position: relative;
}

.toast.success {
  background-color: #00CC00;
  border: 1px solid #00FF00;
}

.toast.error {
  background-color: #CC0000;
  border: 1px solid #FF0000;
}

/* INPUT GROUP */

.input-group {
  display: flex;
  align-items: stretch;
  border: solid 1px #EEEEEE;
  background-color: #FFFFFF;
  border-radius: 3px;
  overflow: hidden;
}

.input-group button {
  padding: 8px 12px;
  font: inherit;
  background-color: #FFFFFF;
  color: #000000;
  border: 0;
}

.input-group button:active {
  background-color: #EEEEEE;
}

.input-group :not(:last-child) {
  border-right: 1px solid #EEEEEE;
}

.input-group > * {
  margin: 0;
}

.input-group select {
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 16px;
  font: inherit;
  border: 0;
  border-radius: 0;
  background-color: #FFFFFF;
}
